/* Style de base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#evenements-live {
    padding: 50px;
    background-color: #f7f7f7;
    text-align: center;
}

.carousel {
    display: flex;
    justify-content: center;
}

.carousel img {
    width: 300px;
    margin: 10px;
}

#presentation {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

#cta {
    padding: 50px;
    background-color: #333;
    text-align: center;
    color: white;
}

.cta-button {
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
